<div class="dice-round">
<div class="row " style="background-color:aqua">
    <div class="col-md-3 col-xs-3">
        <img src="../assets/img/DiceImgs/cry.png"/>
    </div>

    <div class="col-md-3 col-xs-3">
        <img src="../assets/img/DiceImgs/smile.png"/>
    </div>

    <div class="col-md-3 col-xs-3">
        <img src="../assets/img/DiceImgs/friend_small.png"/>
        </div>

    <div class="col-md-3 col-xs-3">
        <img src="../assets/img//DiceImgs/health_small.png"/>
    </div>
</div>
<div class="row " style="background-color:aqua">
    <div class="col-md-3 col-xs-3">
        <img src="../assets/img//DiceImgs/lamp_small.png"/>
    </div>

    <div class="col-md-3 col-xs-3">
        <img src="../assets/img/DiceImgs/money_small.png"/>
    </div>

    <div class="col-md-3 col-xs-3">
        <img src="../assets/img/DiceImgs/money_small.png"/>
    </div>

    <div class="col-md-3 col-xs-3  responsive nowrap">
        <button type="button" id="diceBtn" class="btn btn-primary btn-responsive">擲骰</button>
    </div>
</div></div>
<div class="token-round">
    <p>token畫面</p>
<div class="row " style="background-color:aquamarine">
    <div class="col-md-3 col-xs-3">token$</div><div class="ms">9</div>

    <div class="col-md-3 col-xs-3">token友誼</div><div class="ms">9</div>

    <div class="col-md-3 col-xs-3">token知識</div><div class="ms">9</div>

    <div class="col-md-3 col-xs-3">token健康</div>
</div>
</div>