<div class=".container col-lg-9">
    <div class="self-info-round">
    <div class="row">
        <div class="col-lg-12 self-info-round">
            <p>self info</p>             
                <div class="col-lg-3 col-md-6 player-info-round">童年卡</div>
                <div class="col-lg-3 col-md-6 player-info-round">青年卡</div>
                <div class="col-lg-3 col-md-6 player-info-round">中年卡</div>
                <div class="col-lg-3 col-md-6 player-info-round">老年卡</div>
                <div class="col-lg-3 col-md-6 player-info-round">宿命卡</div>
                <div class="col-lg-3 col-md-6 player-info-round">緋聞卡</div>
                <div class="col-lg-3 col-md-6 player-info-round">職業卡</div>
                <div class="col-lg-3 col-md-6 player-info-round">個人目標</div>
            </div>
        
        <div class="col-lg-2 col-md-6 player-info-round">童年卡堆</div>
        <div class="col-lg-2 col-md-6 player-info-round">青年卡堆</div>
        <div class="col-lg-2 col-md-6 player-info-round">中年卡堆</div>
        <div class="col-lg-2 col-md-6 player-info-round">老年卡堆</div>
        <div class="col-lg-2 col-md-6 player-info-round">宿命卡堆</div>
        <div class="col-lg-2 col-md-6 player-info-round">緋聞卡堆</div>
        <div class="col-lg-2 col-md-6 player-info-round">職業卡堆</div>
    </div></div>
    <div class="player-info-round">
    <div class="row">
        <div class="col-lg-12">player2 info</div>
    </div></div>
    <div class="player-info-round">
    <div class="row">
        <div class="col-lg-12">player3 info</div>
    </div></div>
    <div class="player-info-round">
    <div class="row">
        <div class="col-lg-12">player4 info</div>
    </div></div>
</div>